{% extends "start/base.html" %}
{% block start_content %}
    <h1>To jest strona startowa</h1>
                    <p>wizyty</p>
                    <p>klienci</p>
                    <p>pacjenci</p>
                    <p>dokumenty</p>
                    <p>magazyn</p>
                    <p>wizyty</p>
                    <p>klienci</p>
                    <p>pacjenci</p>
                    <p>dokumenty</p>
                    <p>magazyn</p>
                    <p>wizyty</p>
                    <p>klienci</p>
                    <p>pacjenci</p>
                    <p>dokumenty</p>
                    <p>magazyn</p>
                    <p>wizyty</p>
                    <p>klienci</p>
                    <p>pacjenci</p>
                    <p>dokumenty</p>



{% endblock start_content %}